@use '@/styles/variables' as *;

.heroWrapper {
  position: relative;

  overflow: hidden;
  padding-bottom: $spacing-4;
}

.bgImage {
  position: absolute;
  inset: 0;
  background: url('@/img/hero/hero-bg.svg') no-repeat top center / cover;
  will-change: transform;
  transition: transform 0.05s linear;
  z-index: -1;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color-contrast;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.textBlock {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $breakpoint-lg) {
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

.description {
  font-size: $font-size-base;
  margin-bottom: 2rem;
  color: $color-description;
}

.ctaButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-weight: $font-weight-semibold;
  background-color: $text-color-contrast;
  color: $primary-color;
  border-radius: $radius-lg;
  box-shadow: $shadow-md;
  transition: $transition-base;

  &:hover {
    box-shadow: $shadow-lg;
  }
}

.heroImg {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;

  @media (min-width: $breakpoint-lg) {
    max-width: 600px;
  }
}
